.benete-contact {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 1300px;
  font-family: 'Rubik',sans-serif;
  margin: 60px auto;
}

.contact-info {
  
  color: #333;
  margin-bottom: 30px;

}



.contact-info h2 {
  font-size: 40PX;
  margin-bottom: 30px;
  margin-top: 0;
  font-family: 'Rubik';
  color: #162016;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.8px;
}

.contact-info p {
  margin: 0.5rem 0;
  font-size: 17px;
  letter-spacing: 1.7px;
  line-height: 1.70;
  text-align: left;
}
.contact-page-text{
  font-weight: 900;
}
.contact-info a {
  color: #4d1edf;
  text-decoration: underline; 
}
.phone{
  color: #4d1edf;
}
.contact-link{
  margin: 0.5rem 0;
  font-size: 17px;
  letter-spacing: 1.7px;
  line-height: 1.70;
  text-align: left;
  color: #4d1edf;
  border-bottom: 2px solid #4d1edf;
  cursor: pointer;
}
.info-pack{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.icon-box{
  width: 40px;
  height: 40px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.icon{
    background-color: #fff;
    color: #4d1edf;
}

.map-container {
  width: 66.60%;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-bottom: 0;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsive */
@media (max-width: 768px) {
  .benete-contact {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
  .contact-info{
    width: 100% ;
  }
  .map-container {
    width: 100%;
    height: 300px;
  }
  
}
@media (max-width: 300px){
  .info-pack p{
    letter-spacing: 0.4px;
  }
}