.benefits-section {
  padding: 6rem 0;
  background-color: #fff;
}

.benefits-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.benefits-header {
  text-align: center;
  margin-bottom: 2rem;
}

.benefits-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 0.7px;
  font-family: 'Rubik', sans-serif;
}

.benefits-subtitle {
  font-size: 1.25rem;
  color: #6b7280;

  max-width: 48rem;
  margin: 0 auto;
  letter-spacing: 0.4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.benefits-grid {
  display: grid;
  gap: 1rem;
}


.benefit-description {
  position: relative;
  padding-left: 20px;
  margin: 6px 0;
  color: #6b7280;
  line-height: 1.6;
  letter-spacing: 0.4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.benefit-description::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.35em; 
  width: 8px;
  height: 8px;
  background-color: #4d1edf;
  border-radius: 50%;
}








@media (min-width: 871px) {
  .benefits-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

.benefit-card {
  background-color: #fff;
  padding: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(33, 5, 144, 0.08);
  
}

.benefit-card:hover {

  transform: translateY(-4px);
}

.benefit-icon-wrapper {
  width: 100%;
  height: 3.5rem;
  display: flex;
  
  margin-bottom: 1rem;
}

.benefit-icon {
  color: #4d1edf;
}




.benefit-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.7px;
  
}