.benete-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding: 10px 80px;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  border-radius: 8px;
  max-width: 1000px;
}

.contact-info {
  flex: 1 1 300px;
  color: #333;
  max-width: 400px;
  
}



.contact-info h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.contact-info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}
.info-pack{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.icon-box{
  width: 40px;
  height: 40px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.icon{
    background-color: #4d1edf;
    color: #fff;
}
.contact-link {
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}

.map-container {
  flex: 1 1 300px;
  max-width: 782px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Responsive */
@media (max-width: 768px) {
  .benete-contact {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
  .contact-info{
    width: 100% ;
  }
  .map-container {
    width: 100%;
    height: 200px;
  }
}