.benefits-section {
  padding: 6rem 0;
  background-color: #fff;
}

.benefits-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.benefits-header {
  text-align: center;
  margin-bottom: 2rem;
}

.benefits-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 0.7px;
  font-family: 'Rubik', sans-serif;
}

.benefits-subtitle {
  font-size: 1.25rem;
  color: #6b7280;

  max-width: 48rem;
  margin: 0 auto;
  letter-spacing: 0.4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  justify-self: center;
}


.benefit-description {
  position: relative;
  padding: 0 2px;
  margin: 6px 0;
  color: #162d16;
  line-height: 1.6;
  letter-spacing: 0.4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.benefit-card {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px #4d1edf;
  padding: 0 20px;
}

.benefits-container {
  padding: 0 ;
}

.benefit-pic-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.benefit-pic {
  color: #4d1edf;
  width: 100%;
  object-fit: cover;
}


.benefit-description {
  
  padding-left: 0;
  
}

.benefit-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.7px;
  text-align: center;
}


@media (max-width:871px) {
  
  .benefits-grid {
  gap: 0;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
.benefit-card {
  padding: 0;
}
}
