.carousel-section {
  padding: 6rem 1rem;
  background: #fff;
  margin-top: 40px;
}

.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.carousel-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-slides {
  position: relative;
  height: 600px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(45 45 46 / 50%);}

.carousel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}

.carousel-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.7px;
}

.carousel-description {
  font-size: 1.125rem;
  color: #fff;
  max-width: 600px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.4px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 2rem;
}

.carousel-dot {
  border-radius: 999px;
  transition: all 0.3s ease;
  background-color: rgba(100, 100, 100, 0.3);
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #4d1edf;
  width: 48px;
  height: 12px;
}

@media (max-width:795px)  {
  .carousel-slides{
    height: 500px;
  }
}