.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 80vh; 
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

.carousel-slides {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.carousel-overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(45 45 46 / 50%);
}

.carousel-content {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  text-align: center;
}



.carousel-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1.7px;
}

.carousel-description {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1.4px;
}

.carousel-dots {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 2;
}

.carousel-dot {
  
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 50%;   
  width: 12px;    
  height: 12px;     
  border: none;
  cursor: pointer;
  margin-left: 2px;
  
}

.carousel-dot.active {
  background-color: #fff;
  width: 50px;
  border-radius: 10px;
  height: 12px;
  
}


@media (max-width:580px) {
  
  .carousel-content {
  position: absolute;
  bottom: 70px;
  left: 0;
  transform: none;
  padding: 1rem;
  text-align: center;
}
  .carousel-title{
    font-size: 30px;
  }
  .carousel-description{
    font-size: 17px;
  }

}