.selector-section {
  padding: 2rem 1rem;
  background:#f3f4f6;
  margin-bottom: 40px;
}

.selector-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.selector-header {
  text-align: center;
  margin-bottom: 4rem;
}

.selector-title {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.7px;
  color: #16202d;
}

.selector-subtitle {
  font-size: 17px;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.4px;
}

.selector-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.selector-card {
  background-color: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.selector-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-color: #4d1edf;
}

.selector-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.selector-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d1edf;
  color: #fff;
}



.selector-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.7px;
  color: #16202d;
}

.selector-card-description {
  color: #666;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.4px;
}
.selector-readmore {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #4d1edf;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1.7px;
  font-weight: 600;
}

.selector-readmore .arrow {
  display: flex;              
  align-items: center; 
  transform: scaleX(1.5);
  
}



@media (max-width:320px) {
  .selector-card {
    padding: 0.5rem 0;
  }
  .selector-section {
    padding: 1rem 0;
  }
}