.customer-container {
  margin: 40px auto;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
}
.customer-container h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 25px;
  letter-spacing: 0.7px;
}
.customer-container h5 {
  text-align: center;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.customer-wrap {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.customer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.customer-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d1edf;
  background-color: #fff;
}
.customer-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.7px;
  color: #16202d;
  margin: 0;
}
.customer-description {
  color: #666;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.4px;
  margin: 0;
}

@media (min-width: 568px) {
  .customer-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .customer-container {
    padding: 50px;
  }
  .customer-container h2 {
    font-size: 35px;
  }
}

@media (min-width: 920px) {
  .customer-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}