.funding-section {
  padding: 4rem 1rem;
  background-color: #fff;
}

.funding-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.funding-block {
  flex: 1 1 400px;
  max-width: 500px;
}

.funding-content {
  background-color: #f5f5f5;
 
  padding: 45px;
}

.funding-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Rubik', sans-serif;
}

.funding-content p {
  font-size: 16px;
  color: #16202d;
  line-height: 1.6;
  margin-bottom: 30px;
  letter-spacing: 0.4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.funding-logos {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 1rem;
}

.funding-logos .eu-logo {
  max-height: 100px;
}

.ely-logo {
  max-height: 70px;
}
@media (max-width: 768px) {
  .funding-section {
  padding: 4rem 0;
}
  .funding-row {
    flex-direction: column;
    gap: 1.5rem; 
  }

  .funding-block {
    flex: 1 1 100%;   
    max-width: 100%;  
  }

  
}

