.header {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb#80808080(128 128 128 / 50%);
  z-index: 1;
}

.header-overlay.visible {
  display: block;
}

.header-overlay.hidden {
  display: none;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 600px;
  padding-right: 1rem;
}

.header-content.centered {
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  letter-spacing: 0.8px;
}

.header-title.white { color: white; }
.header-title.blue { color: #4d1edf; }
.header-title.black { color: #0D1114; }


.subtitle-line {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0.2rem 0;
  letter-spacing: 0.8px;
}
.subtitle-word {
  display: inline;
}

.subtitle-word.white { color: white; }
.subtitle-word.blue { color: #4d1edf; }
.subtitle-word.black { color: #16202d; }


@media (max-width: 1024px) {
  .header-content {
    left: 8%;
    max-width: 500px;
  }

  
}


@media (max-width: 768px) {
  .header {
    height: 70vh;
  }

  .header-content {
    left: 5%;
    max-width: 90%;
    bottom: 0;
  }

  .header-title {
    font-size: 17px;
  }

  .subtitle-line {
    font-size: 40px;
  }
  .subtitle-word {
    display: block;
    width: 100%;
  }


}


@media (max-width: 480px) {
  .header-title {
    font-size: 17px;
  }

  .subtitle-line {
    font-size: 35px;
  }
}