.header {
  position: relative;
  width: 100%;
  height: 90vh; /* full viewport height */
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(45 45 46 / 50%);
  z-index: 1;
  display: none;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 600px;
  padding-right: 1rem;
}
.header-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 600px;
  padding-right: 1rem;
}

.header-content.centered {
  left: 50%;
  transform: translate(-50%, -50%);
}



.header-content.white{
  color: white;
}

.header-content.black {
  color: #0D1114;
}


.header-content h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 0.8px;
  margin-top: 2px;
}

.header-content p {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
  font-weight: 600;
  margin-bottom: 2px;
}



/* Tablets (≤1024px) */
@media (max-width: 1024px) {
  .header-content {
    left: 8%;
    max-width: 500px;
  }

  .header-content h1 {
    font-size: 2.5rem;
  }

  .header-content p {
    font-size: 20px;
  }
}

/* Mobile (≤768px) */
@media (max-width: 768px) {
  .header {
    height: 80vh; /* smaller height on mobile */
  }

  .header-content {
    left: 5%;
    max-width: 90%;
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 17px;
  }
}

/* Small phones (≤480px) */
@media (max-width: 480px) {
  .header-content h1 {
    font-size: 40px;
  }

  .header-content p {
    font-size: 17px;
  }
}
