.main-content{
    background-color: #fff;
    
}
.introduction-container {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  flex-wrap: wrap;
  padding: 20PX 80px;
  justify-content: center;
}

.introduction-content {
  max-width: 1000px;
}

.introduction-content h4{
    font-family: 'Rubik';
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    color: #16202d;
    text-align: center;
}
.introduction-content h5{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 35px;
    font-size: 16px;
    line-height: 1.47;
    letter-spacing: 0.35px;
    color: #16202d;
    margin: auto;
    width: 80%;
    font-weight: 500;
    text-align: center;
}






@media (max-width: 768px) {
  .introduction-container {
    align-items: center;
    text-align: center;
    padding: 20px 10px;
  }
  .introduction-content h4{
    font-size: 30px;
  }
  .introduction-content h5{
    font-size: 16px;
  }
}

