
.language-select-wrapper {
  position: relative;
  display: inline-block;
}

.language-select-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s ease;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0 20px;
  color: inherit;
}

.language-select-button:hover,
.language-select-button:focus {
  border-bottom: 3px solid #fff;
}
.language-select-wrapper.ideology-style {
  color: #4d1edf;
}

.language-select-wrapper.ideology-style .language-select-button {
  color: #4d1edf;
}
.language-select-wrapper.ideology-style .language-select-button:hover,
.language-select-wrapper.ideology-style .language-select-button:focus {
  border-bottom: 3px solid #4d1edf;
}



.language-select-arrow {
  transition: transform 0.2s ease;
  color: currentColor;
}

.language-select-arrow.open {
  transform: rotate(180deg);
}

.language-select-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  padding: 10px;
}


.language-select-item {
  padding: 2px 15px;
  cursor: pointer;
  margin: 10px 5px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-select-item:hover, .language-select-item:focus {
  border-bottom: 3px solid #4d1edf;
}


.language-label {
  font-size: 17px;
  color: #4d1edf;
  letter-spacing: 1.7px;
}

.language-bar-desktop .language-select-button {
  color: #fff;
}
.language-select-wrapper.scrolled .language-select-button {
  font-size: 17px;
  
}

.language-bar-desktop .language-label {
  font-weight: 500;
  color: #4d1edf;
}

/* Mobile variant */
.language-bar-mobile .language-select-button {
  font-weight: 500;
  color: #4d1edf;
  font-size: 17px;
}

.language-bar-mobile .language-label {
  font-weight: 500;
  color: #4d1edf;
}
.language-bar-mobile .language-select-button:hover,
.language-bar-mobile .language-select-button:focus {
  border-bottom: 3px solid #4d1edf;
}

