.legal-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  color: #0D1114;
}
.legal-header{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    background-color:#2b1096;
    color: #16202d;
}
.legal-header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 800px;
    
}
.legal-header-content h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.8px;
    color: #fff;
}

.legal-main {
  flex: 1;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.legal-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.legal-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .legal-grid {
    grid-template-columns: 3fr 9fr;
  }
}
@media (max-width:502px) {
  .legal-header-content{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translatey(-50%);
    z-index: 2;
    max-width: 800px;
    
}
.legal-header-content h2{
    font-size: 25px;
    
}
}



.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-link {
  font-size: 1.25rem;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  color: #4d1edf;
}

.sidebar-link.active {
  color: #4d1edf;
}

.legal-content section {
  margin-bottom: 2rem;
}



.legal-content h2 {
  
  margin-bottom:15px ;
  font-family: 'Rubik', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #16202d;
}

.legal-content h5{
  font-size: 16px;
  line-height: 1.54;
  color: #16202d;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.legal-footer {
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}