.readMore-button{
  margin-top: 30px;
  padding: 10px 30px;
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #4d1edf;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1.7px;
  font-size: 21px;
}
.right-arrow {
  display: flex;              
  align-items: center; 
  transform: scaleX(1.5);
  
}